<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="BOOTSTRAP/bootstrap-4.1.1/dist/css/boostrap.css">
    <style type="text/css"></style>
    <title>Coppel</title><link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  </head>
  <body style="background-color: #F1EFD7;">
    <div class="div">
      <div class="ui attached stackable menu" style="background: #EFDE1E"><a class="item"><a href="index.html" class="ui small image"><img src="img/c-logo.jpg"></a></a><a class="item">Todo el Sitio</a>
        <div class="ui simple dropdown item"> <i class="dropdown icon"></i>
          <div class="menu"><a class="item" href="Vistas/liquidacion.html"><i class="dollar sign icon"></i> Liquidación</a>
<a class="item" href="../Brenda/celulares1.html"><i class="mobile alternate icon"></i> Celulares</a>
<a class="item" href="../Luis/coppel-electronic.html"><i class="headphones icon"></i> Electrónica</a>
<a class="item" href="../Cristal/linea_blanca.html"><i class="shirtsinbulk icon"></i> Línea Blanca</a>
<a class="item" href="../Cristal/zapatos.html"><i class="child icon"></i> Zapatos Dama/Caballero</a>
          </div>
        </div>
        <div class="ui icon input"><input type="text" placeholder="Busca Tus Productos..." >
<i class="inverted circular search link icon"></i>
        </div><a class="right item"><i class="phone icon"></i> Comprar Ahora: 800 220 7735</a><a class="item; btn btn-lg" href="#Modal" data-toggle="modal"><i class="map marker alternate icon"></i> Eviar a: <i class="dropdown icon"></i></a><a class="right item"><i class="user icon"></i> Iniciar Sesion</a>
        <div class="ui simple dropdown item"><i class="dropdown icon"></i>
          <div class="menu">
             <a class="item"  href="../uriel/test.blade.php"><i class="user plus icon"></i> Crear Cuenta</a></div>
        </div><a href="../Luis/coppel.html"><button class="ui blue button"><i class="shopping cart icon"></i></button></a>
<!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modalabel" aria-hidden="true" style="width: 1400px;">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="Modalabel">Elige el <strong>estado</strong> y la <strong>ciudad de entrega</strong> para mejorar tu experiencia de compra</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
              </div>
              <div class="modal-body">
                <form class="ui form">
                  <div class="field">
                    <div class="form-group"><label for="Select01">Estado</label>
<select class="form-control" id="Select01" style="width: 350px;">
<option selected>Elige el Estado...</option>
<option>Coahuila</option>
</select>
                    </div>
                  </div>
                  <div class="field">
                    <div class="form-group"><label for="Select02">Ciudad</label>
<select class="form-control" id="Select02" style="width: 350px;">
<option selected>Elige tu Ciudad...</option>
<option>CD ACUÑA</option>
<option>FRANCISCO I. MADERO</option>
<option>FRONTERA</option>
<option>MATAMOROS</option>
<option>MONCLOVA</option>
</select>
                    </div>
                  </div>
                  <div class="modal-footer"><button class="ui inverted primary button" data-dismiss="modal">Cancelar</button>
<button class="ui inverted secondary button">Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div">
      <div class="ui attached stackable menu" style="background: #FAF73C"><a class="item">Departamento</a>
        <div class="ui simple dropdown item"><i class="dropdown icon"></i> 
<div class="menu">  
<a class="item" href="Vistas/liquidacion.html"><i class="dollar sign icon"></i> Liquidación</a>
<a class="item" href="../Brenda/celulares1.html"><i class="mobile alternate icon"></i> Celulares</a>
<a class="item" href="../Luis/coppel-electronic.html"><i class="headphones icon"></i> Electrónica</a>
<a class="item" href="../Cristal/linea_blanca.html"><i class="shirtsinbulk icon"></i> Línea Blanca</a>
<a class="item" href="../Cristal/zapatos.html"><i class="child icon"></i> Zapatos Dama/Caballero</a>
</div>
        </div><a href="https://www.google.com/maps/place/Torre%C3%B3n,+Coah./@25.5485471,-103.5420016,11z/data=!3m1!4b1!4m5!3m4!1s0x868fdba9bb45b3fb:0x8bcc7a9970aea01d!8m2!3d25.5428443!4d-103.4067861" style="padding-left: 1000px;"><button class="ui yellow button"><i class="map marker alternate icon"></i>Ubica Tu Tienda</button></a>
      </div>
    </div>
    <div class="carousel slide" id="myCarousel" data-ride="carousel" style="float: left;">
      <ol class="carousel-indicators">
        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active"><a href="../Cristal/linea_blanca.html"><img src="img/linea-b.jpg" alt="linea blanca"></a></div>
        <div class="item"><a href="../Luis/coppel-electronic.html"><img src="img/electronica.jpg" alt="Pantallas"></a></div>
        <div class="item"><a href="../Brenda/celulares1.html"><img src="img/desktop.jpg" alt="Celular"></a></div>
      </div>
    </div>
    <div class="ui right segment" id="zapatos" style="width: 400px; float: left; padding-left: 30px; background-color: #F1EFD7; padding-top: 1px;"><a  href="../Cristal/zapatos_damas.html"><img src="img/zap-mujer.jpg" alt="Dama"></a>
<a  href="../Cristal/zapatos_caballero.html"><img src="img/shoes.jpg" alt="Caballero"></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"> </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>