doctype html
html(lang="es")
    head

        
        title Aire Acondicionado
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    center
    .ui.large.tiny.images
        <img src='clima y ventilacion/aire acondicionado/aire1.jpg'>
        <img src='clima y ventilacion/aire acondicionado/aire2.jpg'>
        <img src='clima y ventilacion/aire acondicionado/aire3.jpg'>
        <img src='clima y ventilacion/aire acondicionado/aire4.jpg'>
        <img src='clima y ventilacion/aire acondicionado/aire5.jpg'>
        <img src='clima y ventilacion/aire acondicionado/aire6.jpg'>
     


        


    body
