<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Botas</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
  </head>
  <center></center>
  <div class="ui large tiny images"><img src='zapatos Caballeros/botas/bota1.jpg'>
<img src='zapatos Caballeros/botas/bota2.jpg'>
<img src='zapatos Caballeros/botas/bota3.jpg'>
<img src='zapatos Caballeros/botas/bota4.jpg'>
<img src='zapatos Caballeros/botas/bota5.jpg'>
<img src='zapatos Caballeros/botas/bota6.jpg'>
<img src='zapatos Caballeros/botas/bota7.jpg'>
<img src='zapatos Caballeros/botas/bota8.jpg'>
<img src='zapatos Caballeros/botas/bota9.jpg'>
  </div>
</html>