doctype html
html(lang="es")
    head

        
        title Campanas
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    center
    .ui.large.tiny.images
    
        h1 Campanas
    
        <img src='cocina\campanas\campana1.jpg'>
        <img src='cocina\campanas\campana2.jpg'>
        <img src='cocina\campanas\campana3.jpg'>
        <img src='cocina\campanas\campana4.jpg'>
        <img src='cocina\campanas\campana5.jpg'>
        <img src='cocina\campanas\campana6.jpg'>
        <img src='cocina\campanas\campana7.jpg'>
        <img src='cocina\campanas\campana8.jpg'>
        <img src='cocina\campanas\campana9.jpg'>
        <img src='cocina\campanas\campana10.jpg'>

        


    body
