<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio Coppel</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
  </head>
  <body><img ui small image src='coppel.jpg'>
    <div>
      <h1>Linea Blanca Y Electrodomesticos </h1>
      <h2>Categorias</h2>
      <div class="ui simple dropdown item">Cocina <i class="dropdown icon"> </i>
        <div class="menu"> 
          <div class="item"></div><a href="campanas.html">Campanas</a>
          <div class="item"></div><a href="Refrigeradores.html">Refrigeradores</a>
          <div class="item"></div><a href="Microondas.html">Microondas                </a>
        </div>
      </div>
    </div>
    <div>
      <div class="ui simple dropdown item">Lavado y Secado  <i class="dropdown icon"> </i>
        <div class="menu">   
          <div class="item"></div><a href="lavadoras.html">Lavadoras</a>
          <div class="item"></div><a href="Secadoras.html">Secadoras</a>
          <div class="item"></div><a href="Centrifugas.html">Centrifugas </a>
        </div>
      </div>
    </div>
    <div>    
      <div class="ui simple dropdown item">Clima y Ventilacion <i class="dropdown icon"> </i>
        <div class="menu">   
          <div class="item"></div><a href="minisplit.html">MiniSplit</a>
          <div class="item"></div><a href="Ventiladores.html">Ventiladores</a>
          <div class="item"></div><a href="aire_acondicionado.html">Aire Acondicionado </a>
        </div>
      </div>
    </div>
    <div>
      <div class="ui simple dropdown item">Electrodomesticos<i class="dropdown icon"> </i>
        <div class="menu">      <a href="electrodomesticos.html">Licuadoras</a>
          <div class="item"></div><a href="electrodomesticos.html">Tostarado                                                                                </a>
        </div>
      </div>
    </div><a class="ui large images"></a>
    <center>
      <h2>Hogar Equipado, Hogar Feliz</h2><img src='cocina\refri.jpg'>
<img src="cocina\cocina4.jpg">
    </center>
    <div>   </div>
    <center>   
      <h1>Facilita tu vida</h1><img src="cocina\lava.jpg">
    </center>
  </body>
</html>