doctype html
html(lang="es")
    head

        
        title Inicio Coppel
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    body

        <img ui small image src='coppel.jpg'>
       
        
        
        div

            
                h1 Linea Blanca Y Electrodomesticos 
                     
                
                h2 Categorias
                
                .ui.simple.dropdown.item
                    | Cocina 
                    i.dropdown.icon  
                    .menu  
                        .item
                        a(href='campanas.html') Campanas
                        .item
                        a(href='Refrigeradores.html') Refrigeradores
                        .item
                        a(href='Microondas.html') Microondas                
               
        div
                .ui.simple.dropdown.item
                    | Lavado y Secado  
                    i.dropdown.icon  
                    .menu    
                        .item
                        a(href='lavadoras.html') Lavadoras
                        .item
                        a(href='Secadoras.html') Secadoras
                        .item
                        a(href='Centrifugas.html') Centrifugas 
                      

        div     
                .ui.simple.dropdown.item
                    | Clima y Ventilacion 
                    i.dropdown.icon  
                    .menu    
                        .item
                        a(href='minisplit.html') MiniSplit
                        .item
                        a(href='Ventiladores.html') Ventiladores
                        .item
                        a(href='aire_acondicionado.html') Aire Acondicionado 
        div
                .ui.simple.dropdown.item
                    | Electrodomesticos
                    i.dropdown.icon  
                    .menu       
                        a(href='electrodomesticos.html') Licuadoras
                        .item
                        a(href='electrodomesticos.html') Tostarado                                                                                
                                
               

        a.ui.large.images
        center
            h2 Hogar Equipado, Hogar Feliz
            <img src='cocina\refri.jpg'>
            
            <img src="cocina\cocina4.jpg">
            
          
        div    
        center    
            h1 Facilita tu vida
            <img src="cocina\lava.jpg">

      

    
