doctype html
html(lang="es")
    head

        
        title Electrodomesticos
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    center
    .ui.large.tiny.images
        h1 Licuadoras
        <img src='Electrodomesticos/licuadoras/li1.jpg'>
        <img src='Electrodomesticos/licuadoras/li2.jpg'>
        <img src='Electrodomesticos/licuadoras/li3.jpg'>
        <img src='Electrodomesticos/licuadoras/li4.jpg'>
        <img src='Electrodomesticos/licuadoras/li5.jpg'>
        <img src='Electrodomesticos/licuadoras/li6.jpg'>

div

    .ui.large.tiny.images
        h1 Tostadores
        <img src='Electrodomesticos/Tostadores/Tosta1.jpg'>
        <img src='Electrodomesticos/Tostadores/Tosta2.jpg'>
        <img src='Electrodomesticos/Tostadores/Tosta3.jpg'>
        <img src='Electrodomesticos/Tostadores/Tosta4.jpg'>