doctype html
html(lang="es")
    head

        
        title Lavadoras
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    center
    .ui.large.tiny.images
        <img src='lavado y secado/lavadoras/lava1.jpg'>
        <img src='lavado y secado/lavadoras/lava2.jpg'>
        <img src='lavado y secado/lavadoras/lava3.jpg'>
        <img src='lavado y secado/lavadoras/lava4.jpg'>
        <img src='lavado y secado/lavadoras/lava5.jpg'>
        <img src='lavado y secado/lavadoras/lava6.jpg'>
        <img src='lavado y secado/lavadoras/lava7.jpg'>
        <img src='lavado y secado/lavadoras/lava8.jpg'>
        <img src='lavado y secado/lavadoras/lava9.jpg'>
        <img src='lavado y secado/lavadoras/lava10.jpg'>

        

    body
