doctype html
html(lang="es")
    head

        
        title linea Blanca
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    body

    div
        a(title="linea_blanca.html")
            img(src="coppel.jpg")    