<!DOCTYPE html>
<html lang="es">
  <head><img ui small image src='coppel.jpg'>
    <title>Microondas</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
  </head>
  <center></center>
  <div class="ui large tiny images"><img src='cocina/Microondas/micro1.jpg'>
<img src='cocina/Microondas/micro2.jpg'>
<img src='cocina/Microondas/micro3.jpg'>
<img src='cocina/Microondas/micro4.jpg'>
<img src='cocina/Microondas/micro5.jpg'>
<img src='cocina/Microondas/micro6.jpg'>
<img src='cocina/Microondas/micro7.jpg'>
<img src='cocina/Microondas/micro8.jpg'>
<img src='cocina/Microondas/micro9.jpg'>
<img src='cocina/Microondas/micro10.jpg'>
  </div>
  <body></body>
</html>