doctype html
html(lang="es")
    head

        
        title Minisplit
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    center
    .ui.large.tiny.images
        <img src='clima y ventilacion/minisplit/mini1.jpg'>
         <img src='clima y ventilacion/minisplit/mini2.jpg'>
          <img src='clima y ventilacion/minisplit/mini3.jpg'>
           <img src='clima y ventilacion/minisplit/mini4.jpg'>
            <img src='clima y ventilacion/minisplit/mini5.jpg'>
             <img src='clima y ventilacion/minisplit/mini6.jpg'>
              <img src='clima y ventilacion/minisplit/mini7.jpg'>
               <img src='clima y ventilacion/minisplit/mini8.jpg'>
                <img src='clima y ventilacion/minisplit/mini9.jpg'>
                 <img src='clima y ventilacion/minisplit/mini10.jpg'>
       


    body
