<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Refrigeradores</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
    <div></div>
    <center></center>
    <div class="ui large segment images">
      <h1>Refrigeradores</h1><img src='cocina/refrigeradores/refri1.jpg'>  
<img src='cocina/refrigeradores/refri2.jpg'>
<img src='cocina/refrigeradores/refri3.jpg'>
<img src='cocina/refrigeradores/refri4.jpg'>
<img src='cocina/refrigeradores/refri5.jpg'>
<img src='cocina/refrigeradores/refri6.jpg'>
<img src='cocina/refrigeradores/refri7.jpg'>
<img src='cocina/refrigeradores/refri8.jpg'>
<img src='cocina/refrigeradores/refri9.jpg'>
<img src='cocina/refrigeradores/refri10.jpg'>
    </div>
  </head>
  <body></body>
</html>