doctype html
html(lang="es")
    head

        
        title Refrigeradores
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
     
        
        script(src="semantic.js")

        div
        center
        .ui.large.segment.images

            h1 Refrigeradores
            <img src='cocina/refrigeradores/refri1.jpg'>  
         
            <img src='cocina/refrigeradores/refri2.jpg'>
            <img src='cocina/refrigeradores/refri3.jpg'>
            <img src='cocina/refrigeradores/refri4.jpg'>
            <img src='cocina/refrigeradores/refri5.jpg'>
            <img src='cocina/refrigeradores/refri6.jpg'>
            <img src='cocina/refrigeradores/refri7.jpg'>
            <img src='cocina/refrigeradores/refri8.jpg'>
            <img src='cocina/refrigeradores/refri9.jpg'>
            <img src='cocina/refrigeradores/refri10.jpg'>
          
   

    body

        

