doctype html
html(lang="es")
    head

        
        title Secadoras
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    center
    .ui.large.tiny.images
       <img src='lavado y secado/secadoras/seca1.jpg'>
       <img src='lavado y secado/secadoras/seca2.jpg'>
       <img src='lavado y secado/secadoras/seca3.jpg'>
       <img src='lavado y secado/secadoras/seca4.jpg'>
    

        


    body
