doctype html
html(lang="es")
    head

        
        title Tenis
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    center
    .ui.large.tiny.images
        <img src='zapatos Caballeros/tenis/tenis1.jpg'>
        
        <img src='zapatos Caballeros/tenis/tenis3.jpg'>
        <img src='zapatos Caballeros/tenis/tenis4.jpg'>
        <img src='zapatos Caballeros/tenis/tenis5.jpg'>
        <img src='zapatos Caballeros/tenis/tenis6.jpg'>
        <img src='zapatos Caballeros/tenis/tenis7.jpg'>
        <img src='zapatos Caballeros/tenis/tenis8.jpg'>
        <img src='zapatos Caballeros/tenis/tenis9.jpg'>
        <img src='zapatos Caballeros/tenis/tenis2.jpg'>