<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Tenis Damas</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
  </head>
  <center></center>
  <div class="ui large tiny images"><img src='zapatos damas/tenis/tenis1.png'>
<img src='zapatos damas/tenis/tenis2.png'>
<img src='zapatos damas/tenis/tenis3.jpg'>
<img src='zapatos damas/tenis/tenis4.jpg'>
<img src='zapatos damas/tenis/tenis5.jpg'>
<img src='zapatos damas/tenis/tenis6.jpg'>
<img src='zapatos damas/tenis/tenis7.jpg'>
<img src='zapatos damas/tenis/tenis8.jpg'>
<img src='zapatos damas/tenis/tenis9.jpg'>
<img src='zapatos damas/tenis/tenis10.jpg'>
  </div>
</html>