<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Zapatos</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
  </head>
  <center></center>
  <div class="ui large tiny images"><img src='zapatos Caballeros/zapatos/cab1.png'>
<img src='zapatos Caballeros/zapatos/cab2.png'>
<img src='zapatos Caballeros/zapatos/cab3.jpg'>
<img src='zapatos Caballeros/zapatos/cab4.jpg'>
<img src='zapatos Caballeros/zapatos/cab5.jpg'>
<img src='zapatos Caballeros/zapatos/cab6.jpg'>
<img src='zapatos Caballeros/zapatos/cab7.jpg'>
<img src='zapatos Caballeros/zapatos/cab8.jpg'>
<img src='zapatos Caballeros/zapatos/cab9.jpg'>
  </div>
</html>