<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Zapatillas</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
  </head>
  <center></center>
  <div class="ui large tiny images"><img src='zapatos damas/zapatillas/zapatilla1.jpg'>
<img src='zapatos damas/zapatillas/zapatilla2.jpg'>
<img src='zapatos damas/zapatillas/zapatilla3.jpg'>
<img src='zapatos damas/zapatillas/zapatilla4.jpg'>
<img src='zapatos damas/zapatillas/zapatilla5.jpg'>
<img src='zapatos damas/zapatillas/zapatilla6.jpg'>
<img src='zapatos damas/zapatillas/zapatilla7.jpg'>
<img src='zapatos damas/zapatillas/zapatilla8.jpg'>
<img src='zapatos damas/zapatillas/zapatilla9.jpg'>       
  </div>
</html>