<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Zapatos</title>
    <meta charset="utf-8">
    <meta name=" " content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script src="semantic.js"></script>
  </head>
  <body><img ui small image src='coppel.jpg'>
    <marquee direction="up" width="1010" height="150" behavior="alternate" style="border:line" bgcolor="yellow"></marquee>
    <div>
      <h1>Zapatos 
        <h2>Categorias</h2>
        <div class="ui simple dropdown item">Mujeres <i class="dropdown icon"> </i>
          <div class="menu"> 
            <div class="item"></div><a href="tenis_dama.html">Tenis</a>
            <div class="item"></div><a href="zapatillas.html">Zapatillas</a>
            <div class="item"></div><a href="flats.html">Flats                </a>
          </div>
        </div>
      </h1>
    </div>
    <div>
      <div class="ui simple dropdown item">Hombres  <i class="dropdown icon"> </i>
        <div class="menu">   
          <div class="item"></div><a href="tenis_caballero.html">Tenis</a>
          <div class="item"></div><a href="zapatos_caballero.html">Zapatos</a>
          <div class="item"></div><a href="botas.html">Botas </a>
        </div>
      </div>
    </div><a class="ui big image" href="zapatos_damas.html"></a>
    <center>
      <h1>La mejor moda en zapatos</h1><img src='zapatos damas/zapatillas/zapatilla1.jpg'>
<img src='zapatos damas/zapateria.jpg'>
<img src='zapatos damas/zapatillas.jpg'>
<img src="zapatos caballeros/cab10.jpg"href='zapatos_caballero.html'>
    </center>
  </body>
</html>