doctype html
html(lang="es")
    head

        
        title Zapatos
        meta(charset="utf-8")
        meta(name=" ",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet",type="text/css", 
href="semantic.css")
        script(src="semantic.js")
    body

        <img ui small image src='coppel.jpg'>
        marquee(direction="up" width="1010"  height="150" behavior="alternate" style="border:line" bgcolor ="yellow")
        
        
        div
            h1 Zapatos 
                     
                
                h2 Categorias
                
                .ui.simple.dropdown.item
                    | Mujeres 
                    i.dropdown.icon  
                    .menu  
                        .item
                        a(href='tenis_dama.html') Tenis
                        .item
                        a(href='zapatillas.html') Zapatillas
                        .item
                        a(href='flats.html') Flats                
               
        div
                .ui.simple.dropdown.item
                    | Hombres  
                    i.dropdown.icon  
                    .menu    
                        .item
                        a(href='tenis_caballero.html') Tenis
                        .item
                        a(href='zapatos_caballero.html') Zapatos
                        .item
                        a(href='botas.html') Botas 
            
                
                


        a.ui.big.image(href='zapatos_damas.html')
        center
            h1 La mejor moda en zapatos
            <img src='zapatos damas/zapatillas/zapatilla1.jpg'>
            <img src='zapatos damas/zapateria.jpg'>

            <img src='zapatos damas/zapatillas.jpg'>
    
            <img src="zapatos caballeros/cab10.jpg"href='zapatos_caballero.html'>
            