<!DOCTYPE html>
<html lang="es">
  <head> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Equipos Celulares | Coppel.com</title>
  </head>
  <body>
    <div class="uicontainer"><a class="ui top attaached header" href="cargadores.html" style="color:BLACK">Inicio / Celulares / Audifonos</a></div>
    <div class="ui three column grid" style="margin-top:20px">
      <div class="column grid" style="margin-left:360px">
        <div class="ui fluid card" style="width:250px; background-color:WITHE">
          <div class="image"><img src="../../public/img/audifonos1.jpg" alt="" style="margin-left:0px;background-color:#FFFEFE"></div>
          <div class="ui content" style="width:160px"><a class="ui header">iPhone 11 Pro Max 64GB Space Gray</a>
            <h2 class="ui center" style="width:250px">$29,199 de contado </h2>
            <h4 class="ui text" style="width:250px">Desde $1,656 quincenal</h4><i class="truck icon" style="margin-left:10px"></i><i class="building icon" style="margin-left:15px"></i>
          </div>
          <button class="ui primary button" style="width:200px; margin-left:25px">Comprar  </button>
        </div>
      </div>
      <div class="column grid" style="background-color:WITHE; margin-left:-180px">
        <div class="ui fluid card" style="width:250px">
          <div class="image"><img src="../../public/img/audifonos2.jpg" alt="" style="margin-left:0px"></div>
          <div class="ui content" style="width:160px"><a class="ui header">iPhone 11 Pro Max 64GB Space Gray</a>
            <h2 class="ui center" style="width:250px">$29,199 de contado </h2>
            <h4 class="ui text" style="width:250px">Desde $1,656 quincenal</h4><i class="truck icon" style="margin-left:10px"></i><i class="building icon" style="margin-left:15px"></i>
          </div>
          <button class="ui primary button" style="width:200px; margin-left:25px">Comprar  </button>
        </div>
      </div>
      <div class="column grid" style="margin-left:-180px">
        <div class="ui fluid card" style="width:250px">
          <div class="image"><img src="../../public/img/audifonos3.jpg" alt="" style="margin-left:0px"></div>
          <div class="ui content" style="width:160px"><a class="ui header">iPhone 11 Pro Max 64GB Space Gray</a>
            <h2 class="ui center" style="width:250px">$29,199 de contado </h2>
            <h4 class="ui text" style="width:250px">Desde $1,656 quincenal</h4><i class="truck icon" style="margin-left:10px"></i><i class="building icon" style="margin-left:15px"></i>
          </div>
          <button class="ui primary button" style="width:200px; margin-left:25px">Comprar  </button>
        </div>
      </div>
    </div>
    <div class="ui three column grid" style="margin-top:20px">
      <div class="column grid" style="margin-left:360px">
        <div class="ui fluid card" style="width:250px; background-color:WITHE">
          <div class="image"><img src="../../public/img/audifonos4.jpg" alt="" style="width:210px;margin-left:22px;background-color:#FFFEFE"></div>
          <div class="ui content" style="width:160px"><a class="ui header">iPhone 11 Pro Max 64GB Space Gray</a>
            <h2 class="ui center" style="width:250px">$29,199 de contado </h2>
            <h4 class="ui text" style="width:250px">Desde $1,656 quincenal</h4><i class="truck icon" style="margin-left:10px"></i><i class="building icon" style="margin-left:15px"></i>
          </div>
          <button class="ui primary button" style="width:200px; margin-left:25px">Comprar  </button>
        </div>
      </div>
      <div class="column grid" style="background-color:WITHE; margin-left:-180px">
        <div class="ui fluid card" style="width:250px">
          <div class="image"><img src="../../public/img/audifonos5.jpg" alt="" style="width:px; margin-left:0px"></div>
          <div class="ui content" style="width:160px"><a class="ui header">iPhone 11 Pro Max 64GB Space Gray</a>
            <h2 class="ui center" style="width:250px">$29,199 de contado </h2>
            <h4 class="ui text" style="width:250px">Desde $1,656 quincenal</h4><i class="truck icon" style="margin-left:10px"></i><i class="building icon" style="margin-left:15px"></i>
          </div>
          <button class="ui primary button" style="width:200px; margin-left:25px">Comprar  </button>
        </div>
      </div>
      <div class="column grid" style="margin-left:-180px">
        <div class="ui fluid card" style="width:250px">
          <div class="image"><img src="../../public/img/audifonos6.jpg" alt="" style="width:px; margin-left:0px"></div>
          <div class="ui content" style="width:160px"><a class="ui header">iPhone 11 Pro Max 64GB Space Gray</a>
            <h2 class="ui center" style="width:250px">$29,199 de contado </h2>
            <h4 class="ui text" style="width:250px">Desde $1,656 quincenal</h4><i class="truck icon" style="margin-left:10px"></i><i class="building icon" style="margin-left:15px"></i>
          </div>
          <button class="ui primary button" style="width:200px; margin-left:25px">Comprar  </button>
        </div>
      </div>
    </div>
  </body>
</html>