doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js")>
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        
        <div class="ui attached stackable menu">
            <a href ="https://coppel.com" class="ui medium image">
                <img src="../../public/img/logo-coppel.png">
                </a>
            <div class="ui container">
        
                <div class="ui simple dropdown item">
                    Todo Todo el sitio
                    <i class="dropdown icon"></i>
        
                    <div class="menu">
                        <a class="item"><i class="tags icon"></i> Liquidacion</a>
                        <a class="item"><i class="mobile alternate icon"></i> Celulares</a>
                        <a class="item"><i class="tv icon"></i> Electronica</a>
                        <a class="item"><i class="dolly icon"></i>Linea Blanca</a>
                        <a class="item"><i class="female icon"></i>Zapatos mujer</a>
                        <a class="item"><i class="male icon"></i>Zapatos Hombre</a>
                    </div>
                
                </div>
        
            <div class="left item" border="null" >
                <div class="ui input"><input type="text" placeholder="Busca tus productos">
                  <button class="ui primary button"><i class="search link icon"></i>
                </div>
                <div class="">
                
            </div>
            <div class="rigth item"><button class="ui primary button"><i class ="shopping cart icon"></i></button>
            </div>
            </div>
        </div>
        <div class="ui attached stackable menu">
            <div class="ui container">
                  <div class="ui simple dropdown item">
                        Departamentos Departamentos
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item"><i class="tags icon"></i> Liquidacion</a>
                            <a class="item"><i class="mobile alternate icon"></i> Celulares</a>
                            <a class="item"><i class="tv icon"></i> Electronica</a>
                            <a class="item"><i class="dolly icon"></i>Linea Blanca</a>
                            <a class="item"><i class="female icon"></i>Zapatos mujer</a>
                            <a class="item"><i class="male icon"></i>Zapatos Hombre</a>
                        </div>
            </div>
                <div class="ui simple dropdown item">
                    More Credito Coppel
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item"><i class="edit icon"></i> Solicitar Credito</a>
                        <a class="item"><i class="credit card outline icon"></i> Estado de Cuenta</a>
                    </div>
                </div>
                <div class="rigth segment">
                    
                        <button class="ui inverted primary button">
                            <i class="map outline icon"></i>Ubica tu tienda
                        </button>
                </div>
            </div>
        </div>

        
        