<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>coppel mejora tu vida</title>
</head>
<body>
  <h2><a title="Coppel.com||Mejora tu vida" href="../PUG/index.html"></a><img class="ui small left floated image" src="img/coppel1.jpg"></h2><font align="right"></font><a aling="right" href="../PUG/index.html"> Volver a Coppel.com</a>
  <hr width="110%" size="5" align="center">
</body><font size="6" face="arial">
   Tu Carrito <br>  
  <h3>
    <center><font size="5" face="arial">Tu carrito est&aacute; vacio!!!</font><br><font size="3" face="arial">Navega en Coppel.com y agrega los productos que buscas.</font></center>
  </h3>  
  <center>
    <form title="Coppel.com" method="get" action="../PUG/index.html">
      <button class="ui blue button">SIGUE COMPRANDO</button>
    </form>
  </center>  <br>
  <h3></h3>
  <left> <font size="5" face="arial">Te recomendamos:<br></font><a class="ui small circular image" href="../PUG/Vistas/liquidacion.html"><img src="img/LIQUIDACION.PNG"></a><a class="ui small circular image" href="../Brenda/celulares1.html"><img src="img/CELULARES.jpg"></a><a class="ui small circular image" href="coppel-electronic.html"><img src="img/ELECTRONICA.jpg"></a><a class="ui small circular image" href="../Cristal/electrodomesticos.html"><img src="img/LINEA BLANCA.jpg"></a><a class="ui small circular image" href="../Cristal/zapatillas.html"><img src="img/ZAPATO_DAMA.jpg"></a><a class="ui small circular image" href="../Cristal/zapatos_caballero.html"><img src="img/ZAPATO_MEN.jpg"></a></left></font>