doctype html
html(lang="en")
head
 link(href='style.css', rel='stylesheet', type='text/css')

 marquee(direction='left', style='background:YELLOW') TEXT

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title ELECTRONICA
body
ul.horizontal
      li
        a(href='#') Home
      | &#x9;
      li
        a(href='#') About
      | &#x9;
      li
        a(href='#') Services
      | &#x9;
      li
        a(href='#') Partners
      | &#x9;
      li
        a(href='#') Contacts



