doctype html
html(lang="en")
head
   meta(charset="UTF-8")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(http-equiv="X-UA-Compatible", content="ie=edge")
   title coppel mejora tu vida
body
 h2
   a(title='Coppel.com||Mejora tu vida', href='../PUG/index.html')
   img.ui.small.left.floated.image(src='img/coppel1.jpg')
 
 
 
 font(align='right')
 a( aling='right' href='../PUG/index.html')  Volver a Coppel.com

 hr(width='110%', size='5', align='center')
font(size='6' face='arial')  Tu Carrito
    
 |  
 br
 |   
 h3
   center
     font( size='5' face='arial') Tu carrito est&aacute; vacio!!!
     br
     font( size='3' face='arial') Navega en Coppel.com y agrega los productos que buscas.
  
 |   
 center
   form(title='Coppel.com' method='get', action='../PUG/index.html')
    button.ui.blue.button SIGUE COMPRANDO
 |   
 br
 |
 h3
 |
 left 
   font( size='5' face='arial') Te recomendamos:
    br
   a.ui.small.circular.image(href='../PUG/Vistas/liquidacion.html')
      img(src='img/LIQUIDACION.PNG')
   a.ui.small.circular.image(href='../Brenda/celulares1.html')
      img(src='img/CELULARES.jpg')
   a.ui.small.circular.image(href='coppel-electronic.html')
      img(src='img/ELECTRONICA.jpg')
   a.ui.small.circular.image(href='../Cristal/electrodomesticos.html')
      img(src='img/LINEA BLANCA.jpg')
   a.ui.small.circular.image(href='../Cristal/zapatillas.html')
      img(src='img/ZAPATO_DAMA.jpg')
   a.ui.small.circular.image(href='../Cristal/zapatos_caballero.html')
      img(src='img/ZAPATO_MEN.jpg')               

 




 
    

   
   